body {
    background-image: url('/assets/images/black.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:0;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: 100%;
}

.nav-buttons {
    margin-top: 20px;
    position: fixed;
    top: 0;
}

.transparent-buttons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.transparent-buttons li {
    margin: 0;
}

.transparent-buttons button {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

#about {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/white_blank.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
}

#portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/black_blank.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
    color: white;
    padding-bottom: 240px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 110px;
    margin-bottom: 330px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/white_blank.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
}

.section-content {
    width: 100%;
    height: 100%;
    text-align: center;
    padding:100px 50px 100px 50px;
}

footer {
    font-family: 'Bebas Neue';
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    display: block;
}

.intro {
    color: white;
    font-size: 20px;
    margin-top: 200px;
}

.layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.layout2 {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.sample {
    width: 240px;
    height: 135px;
}